@import "tailwindcss";


:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Seafoam Color Palette */
  --background-color-dark: #111827;
  --pale-mint: #C7FFD8;
  --text-dark: #0D1333;
  --text-light: #F8FAFB;

  color-scheme: light dark;
  color: var(--text-light);
  background-color: var(--background-color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a:hover {
  color: var(--pale-mint);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4{
  line-height: 1.1;
  color: var(--text-light);
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-dark);
    background-color: var(--pale-mint);
  }
  
  h1 {
    color: var(--navy-primary);
  }
  
  a {
    color: var(--royal-blue);
  }
  
  a:hover {
    color: var(--navy-primary);
  }

}