@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Seafoam Color Palette */
  --navy-primary: #161D6F;
  --background-color-dark: #111827;
  --royal-blue: #0B2F9F;
  --mint-accent: #70e7df;
  --pale-mint: #C7FFD8;
  --text-dark: #0D1333;
  --text-light: #F8FAFB;

  color-scheme: light dark;
  color: var(--text-light);
  background-color: var(--background-color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--mint-accent);
  text-decoration: inherit;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--pale-mint);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4{
  line-height: 1.1;
  color: var(--text-light);
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-dark);
    background-color: var(--pale-mint);
  }
  
  h1 {
    color: var(--navy-primary);
  }
  
  a {
    color: var(--royal-blue);
  }
  
  a:hover {
    color: var(--navy-primary);
  }

}